<div class="card-body">
    <p id="error-message">Username or email is already in use!</p>
    <p id="wrong-input"></p>
    <div class="form-group">
        <label for="inputName">Username</label>
        <input class="form-control" type="text" [(ngModel)]="username" required />
    </div>
    <div class="form-group">
        <label for="inputName">Email</label>
        <input class="form-control" type="text" [(ngModel)]="email" required />
    </div>
    <div class="form-group">
        <label for="inputName">Password</label>
        <input class="form-control" type="password" [(ngModel)]="password" required />
    </div>
    <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" type="submit" (click)="register()">Register</button>
    </div>
</div>