<div *ngIf="game" class="chat-container">
	<!-- *ngFor="let message of game.chat_messages" -->
	<div id="chat-holder" *ngIf="game.chat_messages && game.chat_messages.length > 0">
		<div class="chat-message" *ngFor="let message of game.chat_messages; let i=index">
			<div id="chat" [class]="'message-background ' + (i % 2 == 0 ? 'even' : 'odd')">
				<div class="message-sender">
					<p *ngIf="message.user != usersService.user['username']" class="sender-name">{{ message.user }}:</p>
					<p *ngIf="message.user == usersService.user['username']" style="color: #9d9d30;" class="sender-name">{{ message.user }}:</p>
				</div>
				<div class="message-content">
					<p class="message-text">{{ message.text }}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="input-holder">
		<input
			type="text" 
			class="chat-input"
			placeholder="Type a message..."
			id='message-input'
			[(ngModel)]="textMessage"
		/>
		<button (click)="sendMessage()">Send</button>
	</div>
</div>
