<div class="container" *ngIf="!gameCode">
	<div class="header-holder">
		<img class="header-image" src="../../../assets/images/background.jpg" />
	</div>
	<div class="game-info-holder">
		<div class="game-info game-type">
			<p class="title">Type:</p>
		</div>
		<div class="game-info game-code">
			<p class="title">Code:</p>
		</div>
		<div class="game-info game-status">
			<p class="title">Game status:</p>
		</div>
		<div class="start-button-holder">
			<button class="game-start-button" (click)="createGame()">Create Game</button>
		</div>
	</div>
	<div class="players">
		<p *ngIf="gameService.error">{{gameService.error}}</p>
	</div>
</div>
<div class="container" *ngIf="game && game.status == 'pending'">
	<div class="header-holder">
		<img class="header-image" src="../../../assets/images/background.jpg" />
	</div>
	<div class="game-info-holder">
		<div class="game-info game-type">
			<p class="title">Type:</p>
			<p class="description">{{ game.type }}</p>
		</div>
		<div class="game-info game-code" (click)="copyUrl()">
			<p class="title">Code:</p>
			<p class="description">{{ game.code }}</p>
		</div>
		<div class="game-info game-status">
			<p class="title">Game status:</p>
			<p [class]="'description ' + game.status">{{ game.status }}</p>
		</div>
		<div class="game-info game-status" *ngIf="game.created_by.username == usersService.user.username">
			<p class="title">Allow Chat:</p>
			<p class="description">
				<label class="switch">
					<input type="checkbox" id="chat-allowed" checked>
					<span class="slider round"></span>
				</label>
			</p>
		</div>
		<div class="game-info start-button-holder">
			<div *ngIf="game.created_by.username == usersService.user.username">
				<div *ngIf="game.players.length <= 1">
					<button class="game-start-button" style="opacity: 50%;">Not enough players</button>
				</div>
				<div *ngIf="game.players.length > 1">
					<button class="game-start-button" (click)="startGame()">Start game</button>
				</div>
			</div>
			<div *ngIf="game.created_by.username != usersService.user.username">
				<button class="game-start-button" style="opacity: 50%;">You're not the host</button>
			</div>
		</div>
	</div>
	<div class="players" *ngFor="let player of game.players">
		<div class="player-card">
			<div class="avatar-holder">
				<img class="avatar" src="../../../assets/images/default_avatar.png" />
			</div>
			<div class="player-holder">
				<p class="player-name" (click)="openTab(player.username)">{{ player.username }}</p>
			</div>
			<div *ngIf="game.created_by.username == usersService.user.username">
				<button *ngIf="player.username != usersService.user.username" class="player-button" (click)="kickPlayer(player.username)">Kick</button>
			</div>
		</div>
	</div>
</div>
<div *ngIf="game.status && game.status == 'playing'" class="play-holder">
	<div class="play" [ngStyle]="{'width': (screenWidth < 500 ? '100%' : '80%')}">
		<div class="container">
			<div class="row">
				<div [class]="'play-info ' + (screenWidth < 500 ? 'mobile' : '')">
				</div>
				<div [class]="'play-desk ' + (screenWidth < 500 ? 'mobile' : '')">
					<!-- Reverse -->
					<div *ngIf="game.topOfPile.value == 'reverse'" [class]="'card played-card reverse my-card ' + game.topOfPile.color">
						<span class="inner"><span class="mark">⇄</span></span>
					</div>

					<!-- Skip -->
					<div *ngIf="game.topOfPile.value == 'skip'" [class]="'card skip played-card my-card ' + game.topOfPile.color">
						<span class="inner"><span class="mark">⊘</span></span>
					</div>

					<!-- Take 2 -->
					<div *ngIf="game.topOfPile.value == 'take2'" [class]="'card draw2 played-card my-card ' + game.topOfPile.color"><span class="inner">
						<span class="mark" style="color: white; text-shadow: rgb(255, 255, 255) 1px 1px 1px;">_<div class="cardsInInnerPlus2 card-plus2-bottom-left">
							<span class="inner"></span></div><div class="cardsInInnerPlus2 card-plus2-top-right"><span class="inner"></span>
							</div></span>
						</span>
					</div>

					<!-- Take 4 -->
					<div *ngIf="game.topOfPile.value == 'wildDrawFour'" [class]="'card played-card plus-4 my-card ' + game.topOfPile.color"><span class="inner">
						<span class="mark" style="color: white; text-shadow: rgb(255, 255, 255) 1px 1px 1px;">_<div class="cardsInInnerPlus2 card-plus2-bottom-left">
							<span class="inner"></span></div><div class="cardsInInnerPlus2 card-plus2-top-right"><span class="inner"></span>
							</div></span>
						</span>
					</div>
					
					<!-- Wild -->
					<div *ngIf="game.topOfPile.value == 'wild'" [class]="'card played-card wild ' + game.topOfPile.color + ' my-card'">
						<span class="inner">
							<span class="mark" style="color: white; text-shadow: rgb(255, 255, 255) 1px 1px 1px;">_<div class="circle-container">
								<div class="quarter top-left"></div>
								<div class="quarter top-right"></div>
								<div class="quarter bottom-left"></div>
								<div class="quarter bottom-right"></div>
							<span class="inner">
							</span></div>
						</span></span>
					</div>

					<!-- Other -->
					<div *ngIf="game.topOfPile.value != 'wild' && game.topOfPile.value != 'skip' &&  game.topOfPile.value != 'reverse' && game.topOfPile.value != 'take2' && game.topOfPile.value != 'wildDrawFour'"
					[class]="'card played-card num-' + game.topOfPile.value + ' my-card ' + game.topOfPile.color">
						<span class="inner">
							<span class="mark">{{ game.topOfPile.value }}</span>
						</span>
					</div>

					<div *ngIf="this.game['turns'][0] == this.usersService.user['username']" class="card black take-card" [ngStyle]="{'left': (screenWidth < 500 ? '90%' : '70%')}">
						<span class="inner" (click)="takeCardFromPile()"
						[ngStyle]="{'left': (screenWidth < 500 ? '90%' : '70%')}">
						<span class="mark" style="color: rgb(199, 42, 24); background-color: rgb(199, 42, 24); text-shadow: rgb(199, 42, 24) 1px 1px 1px;">_</span>
					</span></div>
					<div *ngIf="this.game['turns'][0] != this.usersService.user['username']" class="card black take-card" [ngStyle]="{'left': (screenWidth < 500 ? '90%' : '70%')}">
						<span class="inner">
						<span class="mark" style="color: rgb(199, 42, 24); background-color: rgb(199, 42, 24); text-shadow: rgb(199, 42, 24) 1px 1px 1px;">_</span>
					</span></div>
				</div>
			</div>
			<div class="row">
				<div class="play-chat">
					<ng-container *ngIf="screenWidth > 500">
						<div class="game-chat-holder" *ngIf="game.chat_allowed">
							<app-chat [game]="game"></app-chat>
						</div>
					</ng-container>
					<ng-container *ngIf="screenWidth < 500">
						<ng-container *ngIf="showChat">
							<div class="game-chat-holder" *ngIf="game.chat_allowed">
								<i class='fas fa-comment-slash' style='font-size:36px' (click)="toggleChat()"></i>
								<app-chat [game]="game"></app-chat>
							</div>
						</ng-container>
						<ng-container *ngIf="!showChat">
							<div class="game-chat-holder" *ngIf="game.chat_allowed">
								<i class='far fa-comment' style='font-size:36px' (click)="toggleChat()"></i>
							</div>
						</ng-container>
					</ng-container>
				</div>
				<ng-container *ngFor="let player of game.players">
					<ng-container *ngIf="screenWidth > 500">
						<div [class]="player.hand.length < 20 ? 'play-cards' : 'play-20-cards'" *ngIf="player.username == usersService.user['username']">
							<ng-container *ngFor="let card of player.hand">

								<!-- Reverse -->
								<div (click)="playCard(card)" *ngIf="card.value == 'reverse'" [class]="'card reverse my-card ' + card.color">
									<span class="inner"><span class="mark">⇄</span></span>
								</div>

								<!-- Skip -->
								<div (click)="playCard(card)" *ngIf="card.value == 'skip'" [class]="'card skip my-card ' + card.color">
									<span class="inner"><span class="mark">⊘</span></span>
								</div>

								<!-- Take 2 -->
								<div (click)="playCard(card)" *ngIf="card.value == 'take2'" [class]="'card draw2 my-card ' + card.color"><span class="inner">
									<span class="mark" style="color: white; text-shadow: rgb(255, 255, 255) 1px 1px 1px;">_<div class="cardsInInnerPlus2 card-plus2-bottom-left">
										<span class="inner"></span></div><div class="cardsInInnerPlus2 card-plus2-top-right"><span class="inner"></span>
										</div></span>
									</span>
								</div>

								<!-- Take 4 -->
								<div (click)="chooseColor(card)" *ngIf="card.value == 'wildDrawFour'" [class]="'card plus-4 my-card ' + card.color"><span class="inner">
									<span class="mark" style="color: white; text-shadow: rgb(255, 255, 255) 1px 1px 1px;">_<div class="cardsInInnerPlus2 card-plus2-bottom-left">
										<span class="inner"></span></div><div class="cardsInInnerPlus2 card-plus2-top-right"><span class="inner"></span>
										</div></span>
									</span>
								</div>
								
								<!-- Wild -->
								<div (click)="chooseColor(card)" *ngIf="card.value == 'wild'" class="card wild black my-card">
									<span class="inner">
										<span class="mark" style="color: white; text-shadow: rgb(255, 255, 255) 1px 1px 1px;">_<div class="circle-container">
											<div class="quarter top-left"></div>
											<div class="quarter top-right"></div>
											<div class="quarter bottom-left"></div>
											<div class="quarter bottom-right"></div>
										<span class="inner">
										</span></div>
									</span></span>
								</div>

								<!-- Other -->
								<div (click)="playCard(card)" *ngIf="card.value != 'wild' && card.value != 'skip' &&  card.value != 'reverse' && card.value != 'take2' && card.value != 'wildDrawFour'"
								[class]="'card num-' + card.value + ' my-card ' + card.color">
									<span class="inner">
										<span class="mark">{{ card.value }}</span>
									</span>
								</div>
							</ng-container>
						</div>
					</ng-container>
					<ng-container *ngIf="screenWidth < 500">
						<div [class]="player.hand.length < 4 ? 'play-cards' : 'play-20-cards mobile'" *ngIf="player.username == usersService.user['username']">
							<ng-container *ngFor="let card of player.hand">

								<!-- Reverse -->
								<div (click)="playCard(card)" *ngIf="card.value == 'reverse'" [class]="'card reverse my-card ' + card.color">
									<span class="inner"><span class="mark">⇄</span></span>
								</div>

								<!-- Skip -->
								<div (click)="playCard(card)" *ngIf="card.value == 'skip'" [class]="'card skip my-card ' + card.color">
									<span class="inner"><span class="mark">⊘</span></span>
								</div>

								<!-- Take 2 -->
								<div (click)="playCard(card)" *ngIf="card.value == 'take2'" [class]="'card draw2 my-card ' + card.color"><span class="inner">
									<span class="mark" style="color: white; text-shadow: rgb(255, 255, 255) 1px 1px 1px;">_<div class="cardsInInnerPlus2 card-plus2-bottom-left">
										<span class="inner"></span></div><div class="cardsInInnerPlus2 card-plus2-top-right"><span class="inner"></span>
										</div></span>
									</span>
								</div>

								<!-- Take 4 -->
								<div (click)="chooseColor(card)" *ngIf="card.value == 'wildDrawFour'" [class]="'card plus-4 my-card ' + card.color"><span class="inner">
									<span class="mark" style="color: white; text-shadow: rgb(255, 255, 255) 1px 1px 1px;">_<div class="cardsInInnerPlus2 card-plus2-bottom-left">
										<span class="inner"></span></div><div class="cardsInInnerPlus2 card-plus2-top-right"><span class="inner"></span>
										</div></span>
									</span>
								</div>
								
								<!-- Wild -->
								<div (click)="chooseColor(card)" *ngIf="card.value == 'wild'" class="card wild black my-card">
									<span class="inner">
										<span class="mark" style="color: white; text-shadow: rgb(255, 255, 255) 1px 1px 1px;">_<div class="circle-container">
											<div class="quarter top-left"></div>
											<div class="quarter top-right"></div>
											<div class="quarter bottom-left"></div>
											<div class="quarter bottom-right"></div>
										<span class="inner">
										</span></div>
									</span></span>
								</div>

								<!-- Other -->
								<div (click)="playCard(card)" *ngIf="card.value != 'wild' && card.value != 'skip' &&  card.value != 'reverse' && card.value != 'take2' && card.value != 'wildDrawFour'"
								[class]="'card num-' + card.value + ' my-card ' + card.color">
									<span class="inner">
										<span class="mark">{{ card.value }}</span>
									</span>
								</div>
							</ng-container>
						</div>
					</ng-container>
				</ng-container>
			</div>
		</div>
	</div>
	<div class="opponents" *ngIf="screenWidth > 500">
		<ng-container class="queue" *ngIf="!viewAllPlayers">
			<div class="switch-queue">
				<label class="switch">
					<input type="checkbox" id="queue-slider" (click)="toggleViewAllPlayers();" checked>
					<span class="slider round"></span>
				</label>
				<p class="info-text">Show all players sorted by least cards</p>
			</div>
			<div class="queue-holder">
				<div class="queue-player" style="opacity: 50%;">
					<div class="queue-player-info">
						<div class="queue-player-avatar-holder">
							<img class="queue-player-avatar" src="../../../assets/images/default_avatar.png" />
						</div>
						<div class="queue-player-name-holder">
							<p class="queue-player-name" *ngIf="game.turns[game.turns.length - 1] != usersService.user.username">{{ game.turns[game.turns.length - 1] }}</p>
							<p class="queue-player-name" *ngIf="game.turns[game.turns.length - 1] == usersService.user.username">
								<b>{{ game.turns[game.turns.length - 1] }}</b> (me)
							</p>
						</div>
					</div>
					<div class="queue-player-card">
						<div class="card-count-holder">
							<p class="card-count">{{ game.players[game.turns.length - 1].hand.length }}</p>
						</div>
					</div>
				</div>
				<div class="queue-player">
					<div class="queue-player-info">
						<div class="queue-player-avatar-holder">
							<img class="queue-player-avatar" src="../../../assets/images/default_avatar.png" />
						</div>
						<div class="queue-player-name-holder">
							<p class="queue-player-name" *ngIf="game.turns[0] != usersService.user.username">{{ game.turns[0] }}</p>
							<p class="queue-player-name" *ngIf="game.turns[0] == usersService.user.username">
								<b>{{ game.turns[0] }}</b> (me)
							</p>
						</div>
					</div>
					<div class="queue-player-card">
						<div class="card-count-holder">
							<p class="card-count">{{ game.players[0].hand.length }}</p>
						</div>
					</div>
				</div>
				<div class="queue-player" style="opacity: 70%;">
					<div class="queue-player-info">
						<div class="queue-player-avatar-holder">
							<img class="queue-player-avatar" src="../../../assets/images/default_avatar.png" />
						</div>
						<div class="queue-player-name-holder">
							<p class="queue-player-name" *ngIf="game.turns[1] != usersService.user.username">{{ game.turns[1] }}</p>
							<p class="queue-player-name" *ngIf="game.turns[1] == usersService.user.username">
								<b>{{ game.turns[1] }}</b> (me)
							</p>
						</div>
					</div>
					<div class="queue-player-card">
						<div class="card-count-holder">
							<p class="card-count">{{ game.players[1].hand.length }}</p>
						</div>
					</div>
				</div>
			</div>
		</ng-container>
		<ng-container *ngIf="viewAllPlayers">
			<div class="all-players">
				<div class="switch-queue">
					<label class="switch">
						<input type="checkbox" id="queue-slider" (click)="toggleViewAllPlayers();">
						<span class="slider round"></span>
					</label>
					<p class="info-text">Show the queue</p>
				</div>
				<div class="queue-holder" *ngFor="let player of sortPlayers(); let i = index">
					<div class="queue-player">
						<div class="queue-player-info">
							<p class="position-indicator">{{ i + 1 }}</p>
							<div class="queue-player-avatar-holder">
								<img class="queue-player-avatar" src="../../../assets/images/default_avatar.png" />
							</div>
							<div class="queue-player-name-holder">
								<p class="queue-player-name" *ngIf="player.username != usersService.user.username">{{ player.username }}</p>
								<p class="queue-player-name" *ngIf="player.username == usersService.user.username">
									<b>{{ player.username }}</b> (me)
								</p>
							</div>
						</div>
						<div class="queue-player-card">
							<div class="card-count-holder">
								<p class="card-count">{{ player.hand.length }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</ng-container>
	</div>
</div>
<div *ngIf="game.status && game.status == 'won'">
	<div class="game-won">
		<div class="game-won-text">
			<p>Winner: {{ game.winner }}</p>
		</div>
		<div *ngFor="let player of sortPlayers(); let i = index">
			<p>{{ i+1 }}. {{ player.username }} ({{ player.hand.length }} cards left)</p>
		</div>
	</div>
</div>