<div class="container" *ngIf="!gameCode">
	<div class="header-holder">
		<img class="header-image" src="../../../assets/images/background.jpg" />
	</div>
	<div class="game-info-holder">
		<div class="game-info game-type">
			<p class="title">Type:</p>
		</div>
		<div class="game-info game-code">
			<p class="title">Code:</p>
		</div>
		<div class="game-info game-status">
			<p class="title">Game status:</p>
		</div>
		<div class="start-button-holder">
			<button class="game-start-button" (click)="createGame()">Create Game</button>
		</div>
	</div>
	<div class="players">
		<p *ngIf="gameService.error">{{gameService.error}}</p>
	</div>
</div>
<div class="container" *ngIf="game && game.status == 'pending'">
	<div class="header-holder">
		<img class="header-image" src="../../../assets/images/background.jpg" />
	</div>
	<div class="game-info-holder">
		<div class="game-info game-type">
			<p class="title">Type:</p>
			<p class="description">{{ game.type }}</p>
		</div>
		<div class="game-info game-code" (click)="copyUrl()">
			<p class="title">Code:</p>
			<p class="description">{{ game.code }}</p>
		</div>
		<div class="game-info game-status">
			<p class="title">Game status:</p>
			<p [class]="'description ' + game.status">{{ game.status }}</p>
		</div>
		<div class="game-info game-status" *ngIf="game.created_by.username == usersService.user.username">
			<p class="title">Allow Chat:</p>
			<p class="description">
				<label class="switch">
					<input type="checkbox" id="chat-allowed" checked>
					<span class="slider round"></span>
				</label>
			</p>
		</div>
		<div class="game-info start-button-holder">
			<div *ngIf="game.created_by.username == usersService.user.username">
				<div *ngIf="game.players.length <= 1">
					<button class="game-start-button" style="opacity: 50%;">Not enough players</button>
				</div>
				<div *ngIf="game.players.length > 1">
					<button class="game-start-button" (click)="startGame()">Start game</button>
				</div>
			</div>
			<div *ngIf="game.created_by.username != usersService.user.username">
				<button class="game-start-button" style="opacity: 50%;">You're not the host</button>
			</div>
		</div>
	</div>
	<div class="players" *ngFor="let player of game.players">
		<div class="player-card">
			<div class="avatar-holder">
				<img class="avatar" src="../../../assets/images/default_avatar.png" />
			</div>
			<div class="player-holder">
				<p class="player-name" (click)="openTab(player.username)">{{ player.username }}</p>
			</div>
			<div *ngIf="game.created_by.username == usersService.user.username">
				<button *ngIf="player.username != usersService.user.username" class="player-button" (click)="kickPlayer(player.username)">Kick</button>
			</div>
		</div>
	</div>
</div>
<div *ngIf="game.status && game.status == 'playing'" class="play-holder">
	<!-- <p>playing: {{ game.topOfPile.color }} {{ game.topOfPile.value }}</p>
	<p (click)="takeCardFromPile()">Take a card</p>

	<div *ngFor="let player of game.players">
		<h3 *ngIf="player.username == game.turns[0]">name: {{ player.username }} **beurt**</h3>
		<h3 *ngIf="player.username != game.turns[0]">name: {{ player.username }}</h3>
			
		<ng-container *ngIf="player.username == usersService.user['username']">
			<div *ngFor="let card of player.hand">
				<div *ngIf="isPlayableCard(card)" (click)="playCard(card)">

					<div [class]="'card num-' + card.value + ' my-card ' + card.color">
						<span class="inner">
							<span class="mark" *ngIf="card.value != 'reverse'">{{ card.value }}</span>
							<span class="mark" *ngIf="card.value == 'reverse'">⇄</span>
						</span>
					</div>

				</div>
				<div *ngIf="!isPlayableCard(card)" style="opacity: 50%;">

					<div [class]="'card num-' + card.value + ' my-card ' + card.color">
						<span class="inner">
							<span class="mark" *ngIf="card.value == 'reverse'">⇄</span>
							<span class="mark" *ngIf="card.value == 'wildDrawFour'">+4</span>
							<span class="mark" *ngIf="card.value == 'take2'">+2</span>
							<span class="mark" *ngIf="card.value == 'skip'">⊘</span>
							<span class="mark" 
								*ngIf="card.value != 'reverse' && card.value != 'wildDrawFour' && card.value != 'take2' && card.value != 'skip'">
								{{ card.value }}
							</span>
						</span>
					</div>

				</div>
			</div>
		</ng-container>
	</div>
	<div class="game-chat-holder" *ngIf="game.chat_allowed">
		<app-chat [game]="game"></app-chat>
	</div> -->

	<!-- <div class="card num-3 my-card yellow"><span class="inner"><span class="mark">3</span></span></div> -->

	<!-- <div class="queue-holder">
		<div class="queue-player">
			<div class="queue-player-info">
				<div class="queue-player-avatar-holder">
					<img class="queue-player-avatar" src="../../../assets/images/default_avatar.png" />
				</div>
				<div class="queue-player-name-holder">
					<p class="queue-player-name">Player name</p>
				</div>
			</div>
			<div class="queue-player-card">
				<div class="card-count-holder">
					<p class="card-count">5</p>
				</div>
			</div>
		</div>
		<div class="queue-player">
			<div class="queue-player-info">
				<div class="queue-player-avatar-holder">
					<img class="queue-player-avatar" src="../../../assets/images/default_avatar.png" />
				</div>
				<div class="queue-player-name-holder">
					<p class="queue-player-name">Player name</p>
				</div>
			</div>
			<div class="queue-player-card">
				<div class="card-count-holder">
					<p class="card-count">5</p>
				</div>
			</div>
		</div>
		<div class="queue-player">
			<div class="queue-player-info">
				<div class="queue-player-avatar-holder">
					<img class="queue-player-avatar" src="../../../assets/images/default_avatar.png" />
				</div>
				<div class="queue-player-name-holder">
					<p class="queue-player-name">Player name</p>
				</div>
			</div>
			<div class="queue-player-card">
				<div class="card-count-holder">
					<p class="card-count">5</p>
				</div>
			</div>
		</div>
	</div> -->

	<!-- <div class="play-info">
		<div class="play-stats">
			<div class="box"></div>
		</div>
		<div class="play-chat">
			<div class="box"></div>
		</div>
	</div>
	<div class="game-play">
		<div class="play-table">
			<div class="box"></div>
		</div>
		<div class="play-cards">
			<div class="box"></div>
		</div>
	</div>
	<div class="play-opponents">
		<div class="box"></div>
	</div> -->

</div>